<%= link_to "New Attraction", new_attraction_path if current_user.admin?%>

<ul>
  <% @attractions.each do |attraction| %>
    <li><%=display_attraction_for(attraction, current_user)%></li>
  <% end %>
</ul>
